.wrapper {
    width: 100%;
    margin: 0px auto 10px;
}

.carousel {
    overflow:hidden;
    width:100%;
}

.slides {
    list-style:none;
    position:relative;
    width:700%; /* Each slide is 100% */
    overflow:hidden;
    -moz-animation:carousel 60s infinite;
    -webkit-animation:carousel 60s infinite;
    animation:carousel 60s infinite;
    padding: inherit;
}

.slides > li {
    position:relative;
    float:left;
    width: 14.28%; /* Total of slides should be 100% */
}

.carousel img {
    display:block;
    width:100%;
    max-width:100%;
}

.carousel h2 {
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel {
    0%    { left:0%; }
    5%    { left:0%; }
    6%    { left:-100%; }
    11%   { left:-100%; }
    12%   { left:-200%; }
    17%   { left:-200%; }
    18%   { left:-300%; }
    23%   { left:-300%; }
    24%   { left:-400%; }
    29%   { left:-400%; }
    30%   { left:-500%; }
    35%   { left:-500%; }
    36%   { left:-600%; }
    41%   { left:-600%; }
    42%   { left:-700%; }
    47%   { left:-700%; }
    48%   { left:-600%; }
    53%   { left:-600%; }
    54%   { left:-500%; }
    59%   { left:-500%; }
    60%   { left:-400%; }
    65%   { left:-400%; }
    66%   { left:-300%; }
    71%   { left:-300%; }
    72%   { left:-200%; }
    77%   { left:-200%; }
    78%   { left:-100%; }
    83%   { left:-100%; }
    100%  { left:0%; }
}
 