<div class="app-ndw-content-container">
    <div class="app-ndw-sidebar">
        <div class="app-ndw-search-container">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Поиск продуктов</mat-label>
                <input matInput placeholder="Давай поищем" matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of autocomplete" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="app-ndw-items-container">
            <div class="app-ndw-categories-container">
                <h4>Категории продуктов</h4>
                <mat-nav-list>
                    <mat-list-item *ngFor="let category of categories">
                        <a matLine href="/products">{{ category.title }}</a>
                        <p matLine>{{ category.description }}</p>
                        <!--<button mat-icon-button>
                            <mat-icon>info</mat-icon>
                        </button>-->
                    </mat-list-item>
                </mat-nav-list>
            </div>

            <div class="app-ndw-products-container">
                <h4>Продукты</h4>
                <mat-nav-list>
                    <mat-list-item *ngFor="let category of categories">
                        <a matLine href="/products">{{ category.title }}</a>
                        <p matLine>{{ category.description }}</p>
                        <!--<button mat-icon-button>
                            <mat-icon>info</mat-icon>
                        </button>-->
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>

        <div class="app-ndw-shopping-cart">
            <h4>Что навыбирал</h4>
        </div>
    </div>

    <div class="app-ndw-pick-points-container">
        <mat-card class="example-card">
            <mat-card-header>
                <!--<div mat-card-avatar class="example-header-image"></div>-->
                <mat-card-title>EDEKA пикпойнт</mat-card-title>
                <mat-card-subtitle>70537, Stuttgart, Rohr Poher 20</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.edeka.de/media/edeka-zentrale/responsive/eh-teaser-angebote-navi-angebote.png?imwidth=960&imdensity=1" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <!--<div mat-card-avatar class="example-header-image"></div>-->
                <mat-card-title>REWE пикпойнт</mat-card-title>
                <mat-card-subtitle>70537, Stuttgart, Rohr Poher 20</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.rewe.de/_ts_01567689558438/dam/rewe-de/produkte-und-services/unsere-marken/marken-uebersicht/startseite-markenteaser/Aktualisierung_startseite_regional_1024.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <!--<div mat-card-avatar class="example-header-image"></div>-->
                <mat-card-title>LIDL пикпойнт</mat-card-title>
                <mat-card-subtitle>70537, Stuttgart, Rohr Poher 20</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.lidl-kochen.de/images/recipe/371471/reisbratlinge-mit-ofenkarotten-feta-salat-150651.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="app-ndw-map-container">
        <google-map
                height="100%"
                width="100%"
                [zoom]="zoom"
                [center]="center"
                [options]="options">
            <map-marker
                    *ngFor="let marker of markers"
                    [position]="marker.position"
                    [label]="marker.label"
                    [title]="marker.title"
                    [options]="marker.options"
            ></map-marker>
        </google-map>
    </div>
</div>