$borderColor: #C7C7C7;
$sideBarWidth: 500px;

.app-ndw-content-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .app-ndw-sidebar {
        display: flex;
        flex-direction: column;
        width: $sideBarWidth;

        .app-ndw-search-container {
            height: 76px;
            padding: 10px 10px 0px 10px;
            border-top: 1px $borderColor solid;
            border-bottom: 1px $borderColor solid;
            background: #f2f2f2;

            .example-form {
                width: 100%;
            }

            .full-width {
                width: 100%;

                .mat-form-field-wrapper {
                    /*padding-bottom: 0;*/
                }
            }
        }

        .app-ndw-shopping-cart {
            height: 400px;
            padding: 10px 10px 0px 10px;
            border-top: 1px $borderColor solid;
            border-bottom: 1px $borderColor solid;
            background: #f2f2f2;

        }

        .app-ndw-items-container {
            display: flex;
            height: 100%;

            .app-ndw-categories-container {
                width: $sideBarWidth/2;
                border-right: 1px $borderColor solid;
            }

            .app-ndw-products-container {
                width: $sideBarWidth/2;
            }
        }
    }

    .app-ndw-pick-points-container {
        flex: 0 0 270px;
        border: 1px $borderColor solid;
        box-shadow: -1px 0 3px 0 rgba(38, 38, 38, 0.25);
        overflow-y: auto;

        .mat-card {
            border-radius: 0px;

            .mat-card-header-text {
                padding: 0;
            }
        }
    }

    .app-ndw-map-container {
        flex-basis: 100%;
        border-top: 1px $borderColor solid;
        border-bottom: 1px $borderColor solid;

        google-map {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
}
h4 {
    padding: 0 16px 0 16px;
}
.mat-drawer-content {
    width: 100%;
}
/*
app-root > .container {
    width: 100%;
}
*/

.app-ndw-content-container{
    height: calc(100vh - 128px);
}
