<google-map
  height="800px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
    <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem)"
    ></map-marker>
    
    <map-info-window>
        <p><b>{{ infoContent?.properties?.name || infoContent?.id}}</b></p>
        <p>&#11089;&nbsp;&#11089;&nbsp;&#11089;&nbsp;&#11089;</p>
    </map-info-window>
</google-map>
<app-card-block></app-card-block>
<app-background-slant></app-background-slant>

<app-second-block></app-second-block>

<app-background-normal></app-background-normal>

<app-third-block></app-third-block>

<app-carousel></app-carousel>

<app-email-me></app-email-me>
<app-background-email></app-background-email>

<button mat-raised-button class="mat-raised mat-primary" (click)="onToTop()">Top</button>
