/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber';

body {
    background-color: #f7f7f7;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

app-root {
    display: flex;
    height: 100%;
    width: 100%;
}

.mat-toolbar.mat-primary {
    background: #ffffff;
    color: #673ab7;
}

.mat-icon[_ngcontent-klv-c2] {
    //color: #673ab7;
}

/* Tablet format and lower */
@media only screen and (max-width: 1024px) {

}

/* Mobile format and lower */
@media only screen and (max-width: 768px) {

}

/* Mobile format landscape (wide) */
@media only screen and (min-width: 320px) and (max-width: 480px) {

}

/* Mobile format portrait (small) */
@media only screen and (max-width: 320px) {

}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}