<div id="content">
  <mat-card>
    <h1>Lösungsansatz</h1>
   <p>Lösungsansatz:
       Das Ziel ist, eine deutschlandweite Karte für Lebensmittelautomaten und andere 24/7 Einkaufsmöglichkeiten für Lebensmittel zu bauen. Langfristig sollen Nutzer auch Produkte und Inventar der Automaten sehen und reservieren können, um sich den Weg zum Automaten zu sparen, sollte ein gewünschtes Produkt nicht verfügbar sein. Bei einer Reservierung soll auch der Bezahlprozess mit eingebunden sein, um möglichst auch Kontakt mit Bargeld zu vermeiden.
    </p>
    <h2>Zukünftige Versionen</h2>

      <ul>
          <li>Kommunikation mit Automatenherstellern, um Zugänge zu APIs zu erhalten, die Warenbestände sichtbar machen</li>
          <li>Möglichkeit, Reservierungen über APIs direkt bei den Automatenbetreibern anzuzeigen</li>
          <li>Bezahlmöglichkeit über die Webseite</li>
          <li>bholung der Ware über eindeutigen Code oder Login Daten</li>
        </ul>

  </mat-card>
</div>
    